<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

    <h4 class="page-title">NEW USER</h4>
    <form class="row form-columned" role="form" th:action="${#httpServletRequest.requestURI}+'/save'">
        <div class="col-md-4">
            <input type="text" class="form-control input-sm m-b-10" placeholder="Username" name="username">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm m-b-10" placeholder="Password" name="password">
        </div>
        <div class="col-md-10">
            <button type="submit" class="btn btn-sm">Save</button>
        </div>
    </form>
    <button class="btn btn-sm" onclick="history.go(-1)">Cancel</button>
</div>
</body>
</html>