<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

    <h4 class="page-title">UPDATE DEPARTMENT</h4>
    <form class="row form-columned" role="form" th:action="${#httpServletRequest.requestURI}+'/save'">
        <input type="text" name="id" style="display: none" th:value="${id}">
        <div class="col-md-4">
            <input type="text" class="form-control input-sm m-b-10" placeholder="Department" name="name"
            th:value="${departmentInfo.name}">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm m-b-10" placeholder="Tel" name="tel"
                   th:value="${departmentInfo.tel}">
        </div>
        <div class="col-md-4">
            <input type="tel" class="form-control input-sm m-b-10" placeholder="Email" name="email"
                   th:value="${departmentInfo.email}">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm m-b-10" placeholder="Address" name="address"
                   th:value="${departmentInfo.address}">
        </div>
        <div class="col-md-4">
            <select id="leader">
                <th:block th:each="item: ${userData}"  th:switch="${userDataName}">
                    <div th:case="${item.username}">
                        <option selected="selected" th:text="${item.username}"></option>
                    </div>
                    <div th:case="*">
                        <option  th:text="${item.username}" ></option>
                    </div>
                </th:block>
            </select>
            <input type="text" style="display: none" id="select" name="leader">
        </div>
        <div class="col-md-10">
            <button class="btn btn-sm" id="savaBTN">Save</button>
            <button class="btn btn-sm" onclick="history.go(-1)">Cancel</button>
        </div>
        <script>
            var saveBTN=document.getElementById("savaBTN");
            saveBTN.onclick=function () {
                var select=document.getElementById("leader");
                var input=document.getElementById("select");
                input.value=select[select.selectedIndex].value;
                this.submit();
            }
        </script>
    </form>
</div>
</body>
</html>