<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

    <h4 class="page-title">UPDATE POSITION</h4>
    <form class="row form-columned" role="form" th:action="${#httpServletRequest.requestURI}+'/save'">
        <input type="text" name="id" style="display: none" th:value="${id}">
        <div class="col-md-4">
            <input type="text" class="form-control input-sm m-b-10" placeholder="Position" name="name"
                   th:value="${positionInfo.name}">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control input-sm m-b-10" placeholder="Level" name="level"
                   th:value="${positionInfo.level}">
        </div>
        <div class="col-md-10">
            <button type="submit" class="btn btn-sm">Save</button>
            <button class="btn btn-sm" onclick="history.go(-1)">Cancel</button>
        </div>

    </form>
</div>
</body>
</html>