<!DOCTYPE html>
<html lang="en">
<div th:fragment="content">
    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

    <h4 class="page-title" >USER MANAGEMANET</h4>

    <!-- Deafult Table -->
    <div class="block-area" id="defaultStyle">
        <h3 class="block-title" th:text="${tableName}"></h3>

        <a class ="btn" th:href="@{/user/new-user}">New</a>
        <table class="table tile">
            <thead>
            <tr>
                <th>Username</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${tableData}">
                <td>[[${item.username}]]</td>
                <td>
                    <form th:action="@{/user/update}" style="float: left">
                        <input name="id" th:value="${item.id}" style="display: none">
                        <input type="submit" name="" value="Update" class="btn" id="updateBtn">
                    </form>
                    <form th:action="@{/user/delete}" >
                        <input name="id" th:value="${item.id}" style="display: none">
                        <input type="submit" name="" value="delete" class="btn" id="deleteBtn">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>